VITE_APP_TITLE=New Tujjors
VITE_APP_SUBTITLE=Minimal product sell page
VITE_APP_CURRENCY=so'm
VITE_API_PROXY_PREFIX=akdnaskds

SD_API_URL=https://your-server-domain/api/v2/
SD_FILIAL_ID=0

SD_LOGIN=
SD_PASSWORD=

# Optional fallback only if you already have a fresh token.
SD_USER_ID=
SD_TOKEN=

SD_TRADE_CS_ID=
SD_TRADE_SD_ID=
SD_TRADE_CODE_1C=

SD_PRICE_TYPE_CS_ID=
SD_PRICE_TYPE_SD_ID=
SD_PRICE_TYPE_CODE_1C=

SD_ORDER_CLIENT_CS_ID=
SD_ORDER_CLIENT_SD_ID=
SD_ORDER_CLIENT_CODE_1C=

SD_ORDER_AGENT_CS_ID=
SD_ORDER_AGENT_SD_ID=
SD_ORDER_AGENT_CODE_1C=

SD_ORDER_WAREHOUSE_CS_ID=
SD_ORDER_WAREHOUSE_SD_ID=
SD_ORDER_WAREHOUSE_CODE_1C=
