VITE_APP_TITLE=New Tujjors
VITE_APP_SUBTITLE=Minimal product sell page
VITE_APP_CURRENCY=som
VITE_SALESDOC_ASSET_BASE_URL=
DEALER_API_BASE_URL=https://tujjors.uz
DEALER_ORDER_ENDPOINT=https://tujjors.uz/api/dealers/send-order/
SMARTUP_SERVER_NAME=https://smartup.online
SMARTUP_PROJECT_CODE=trade
SMARTUP_FILIAL_ID=
SMARTUP_FILIAL_CODE=
SMARTUP_LOGIN=азамат@buxoroozod
SMARTUP_PASSWORD=020202
SMARTUP_PRICE_TYPE_CODE=
SMARTUP_WAREHOUSE_CODE=
SMARTUP_ROOM_CODE=
SMARTUP_ROBOT_CODE=
SMARTUP_PERSON_CODE=
SMARTUP_SALES_MANAGER_CODE=
SMARTUP_CURRENCY_CODE=860
